/* Force Helvetica Neue for ALL elements */
section, section * {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

section h1, h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: 300 !important;
	font-size: 74px !important;
	color: #000000 !important;
}

section h2, h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: 300 !important;
	font-size: 1.8em !important;
	color: #000000 !important;
}

section li, li, ul li, ol li {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: 300 !important;
	font-size: 30px !important;
	line-height: 40px !important;
	color: #434343 !important;
	margin-bottom: 0.5em !important;
	font-kerning: normal !important;
	font-feature-settings: "kern" 1, "liga" 1 !important;
	text-rendering: optimizeLegibility !important;
}

section p {
	font-size: 30px !important;
	margin-top: 0 !important;
	margin-bottom: 2em !important;
}

section ul,
section ol {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
}

section li:first-child {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

/* Shared headline styling for all bullet templates */
section.template-bullets h1,
section.template-bullets-2col h1,
section.template-bullets-image h1,
section.template-lines h1,
section.gold-bullets h1,
section.gold-bullets-image-split h1,
section.mizzou-bullets h1,
section.gold-bullets-2col h1,
section.gold-bullets-image h1,
section.template-quote-headline h1,
section.gold-quote-headline h1,
section.agenda h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: 400 !important;
	font-size: 40px !important;
	color: #000000 !important;
	position: absolute !important;
	top: 45px !important;
	right: 60px !important;
	left: 60px !important;
	margin: 0 !important;
	padding: 0 !important;
}

/* Shared h1::after rule for bullet templates */
section.template-bullets h1::after,
section.template-bullets-2col h1::after,
section.template-bullets-image h1::after,
section.template-lines h1::after,
section.gold-bullets h1::after,
section.gold-bullets-image-split h1::after,
section.mizzou-bullets h1::after,
section.gold-bullets-2col h1::after,
section.gold-bullets-image h1::after,
section.template-quote-headline h1::after,
section.gold-quote-headline h1::after,
section.agenda h1::after {
	content: '' !important;
	position: absolute !important;
	bottom: -8px !important;
	left: -10px !important;
	right: -10px !important;
	height: 0.5px !important;
	background-color: #9A9A9A !important;
}

/* Shared bullet template paragraph styling */
section.template-bullets p,
section.template-bullets-image p,
section.gold-bullets p,
section.gold-bullets-image p,
section.gold-bullets-image-split p {
	padding-left: 35px !important;
	padding-right: 50px !important;
	margin-top: -60px !important;
	margin-bottom: 20px !important;
}

/* Shared bullet template list styling */
section.template-bullets ul,
section.template-bullets ol,
section.gold-bullets ul,
section.gold-bullets ol {
	padding-left: 50px !important;
	padding-right: 50px !important;
	margin-top: -60px !important;
	margin-bottom: 0 !important;
}

/* Reduce margin when list follows paragraph */
section.template-bullets p + ul,
section.template-bullets p + ol,
section.gold-bullets p + ul,
section.gold-bullets p + ol {
	margin-top: 0 !important;
}

/* Bullet templates with images - lists constrained to left half */
section.template-bullets-image ul,
section.template-bullets-image ol,
section.gold-bullets-image ul,
section.gold-bullets-image ol,
section.gold-bullets-image-split ul,
section.gold-bullets-image-split ol {
	padding-left: 50px !important;
	padding-right: 50px !important;
	width: 50% !important;
	margin-top: -60px !important;
	margin-bottom: 0 !important;
}

/* Reduce margin when list follows paragraph in image templates */
section.template-bullets-image p + ul,
section.template-bullets-image p + ol,
section.gold-bullets-image p + ul,
section.gold-bullets-image p + ol,
section.gold-bullets-image-split p + ul,
section.gold-bullets-image-split p + ol {
	margin-top: 0 !important;
}

/* Bullet templates with images - paragraphs constrained to left half */
section.template-bullets-image p,
section.gold-bullets-image p,
section.gold-bullets-image-split p {
	width: 50% !important;
}

section.mizzou {
	background-color: #FFC72C !important;
	background-image: none !important;
	color: #000000 !important;
}

/* Template bullets slide - headline and bullets */
section.template-bullets {
	background-color: #ffffff !important;
	padding: 175px 60px 60px 60px !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: flex-start !important;
	align-items: flex-start !important;
}

section.template-bullets * {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

section.template-bullets li {
	/* All bullet styling inherited from global section li rules */
}

/* Template lines - headline with non-bullet text (no list markers) */
section.template-lines {
	background-color: #ffffff !important;
	padding: 175px 60px 60px 60px !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: flex-start !important;
	align-items: flex-start !important;
}

section.template-lines * {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

section.template-lines ul,
section.template-lines ol {
	list-style: none !important;
	padding-left: 50px !important;
	padding-right: 50px !important;
	margin-top: -60px !important;
	margin-bottom: 0 !important;
}

section.template-lines li {
	/* All bullet styling inherited from global section li rules, but no marker */
	list-style: none !important;
	padding-left: 0 !important;
	margin-left: 0 !important;
}

section.template-lines p {
	padding-left: 50px !important;
	padding-right: 50px !important;
	margin-top: -60px !important;
	margin-bottom: 20px !important;
}

/* Template bullets two-column - headline and bullets in 2 columns */
section.template-bullets-2col {
	background-color: #ffffff !important;
	padding: 175px 60px 60px 60px !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: flex-start !important;
	align-items: flex-start !important;
}

section.template-bullets-2col p {
	position: absolute !important;
	top: 145px !important;
	left: 110px !important;
	right: 50px !important;
	margin: 0 !important;
}

section.template-bullets-2col > div {
	position: absolute !important;
	top: 185px !important;
	width: 50% !important;
	box-sizing: border-box !important;
}

section.template-bullets-2col > div:nth-child(2) {
	left: 0 !important;
	padding-left: 110px !important;
	padding-right: 30px !important;
}

section.template-bullets-2col > div:nth-child(3) {
	left: 50% !important;
	padding-left: 30px !important;
	padding-right: 50px !important;
}

section.template-bullets-2col ul,
section.template-bullets-2col ol {
	margin: 0 !important;
	padding-left: 1.5em !important;
}

section.template-bullets-2col li {
	/* All bullet styling inherited from global section li rules */
}

/* Bullets with image on right template */
section.template-bullets-image {
	background-color: #ffffff !important;
	padding: 175px 60px 60px 60px !important;
}

section.template-bullets-image * {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

section.template-bullets-image li {
	/* All bullet styling inherited from global section li rules */
}

section.template-bullets-image img {
	position: absolute !important;
	right: 60px !important;
	top: 185px !important;
	width: 45% !important;
	height: auto !important;
	max-height: calc(100% - 185px - 60px) !important;
	object-fit: contain !important;
}

/* Bullets with image template - gold left half, white right half */
section.gold-bullets-image-split {
	padding: 175px 60px 60px 60px !important;
	background: linear-gradient(to right, #FFC72C 0%, #FFC72C 50%, #ffffff 50%, #ffffff 100%) !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: flex-start !important;
	align-items: flex-start !important;
}

section.gold-bullets-image-split li {
	/* All bullet styling inherited from global section li rules */
}

section.gold-bullets-image-split img {
	position: absolute !important;
	right: 60px !important;
	top: 185px !important;
	width: 45% !important;
	height: auto !important;
	max-height: calc(100% - 185px - 60px) !important;
	object-fit: contain !important;
}

/* Quote template with headline */
section.template-quote-headline {
	background-color: #ffffff !important;
	padding: 0 !important;
}

section.template-quote-headline blockquote {
	position: absolute !important;
	top: 240px !important;
	left: 110px !important;
	right: 110px !important;
	margin: 0 !important;
}

/* Agenda template - headline, bullets, and photo in right corner */
section.agenda {
	padding: 0 !important;
	position: relative !important;
	overflow: hidden !important;
}

section.agenda ul,
section.agenda ol {
	padding-right: 50px !important;
	padding-left: 110px !important;
	position: absolute !important;
	top: 185px !important;
	left: 0 !important;
	right: 50% !important;
	margin: 0 !important;
}

section.agenda li {
	/* All bullet styling inherited from global section li rules */
}

section.agenda h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: 400 !important;
	font-size: 30px !important;
	color: #000000 !important;
	position: absolute !important;
	bottom: 413px !important;
	right: 130px !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: left !important;
	width: auto !important;
}

section.agenda img {
	position: absolute !important;
	bottom: 30px !important;
	right: -30px !important;
	width: 425px !important;
	height: auto !important;
	object-fit: contain !important;
	max-height: 380px !important;
	margin: 0 !important;
	padding: 0 !important;
}

/* Title slide background */
section.title {
	background-image: url('/assets/title-background.jpg') !important;
	background-size: cover !important;
	background-position: center !important;
	color: #ffffff !important;
	position: relative !important;
	display: block !important;
	padding: 60px !important;
}

/* Mizzou gold bullets template - same as template-bullets but with gold background */
section.gold-bullets {
	padding: 175px 60px 60px 60px !important;
	background-color: #FFC72C !important;
	background-image: none !important;
	color: #000000 !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: flex-start !important;
	align-items: flex-start !important;
}

section.gold-bullets * {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

section.mizzou-bullets {
	padding: 175px 60px 60px 60px !important;
	background-color: #FFC72C !important;
	background-image: none !important;
	color: #000000 !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: flex-start !important;
	align-items: flex-start !important;
}

section.gold-bullets li {
	/* All bullet styling inherited from global section li rules */
}

/* Mizzou gold bullets two-column template */
section.gold-bullets-2col {
	padding: 160px 60px 60px 60px !important;
	background-color: #FFC72C !important;
	background-image: none !important;
	color: #000000 !important;	display: flex !important;
	flex-direction: column !important;
	justify-content: flex-start !important;
	align-items: flex-start !important;}

section.gold-bullets-2col p {
	position: absolute !important;
	top: 145px !important;
	left: 110px !important;
	right: 50px !important;
	margin: 0 !important;
}

section.gold-bullets-2col > div {
	position: absolute !important;
	top: 185px !important;
	width: 50% !important;
	box-sizing: border-box !important;
}

section.gold-bullets-2col > div:nth-child(2) {
	left: 0 !important;
	padding-left: 110px !important;
	padding-right: 30px !important;
}

section.gold-bullets-2col > div:nth-child(3) {
	left: 50% !important;
	padding-left: 30px !important;
	padding-right: 50px !important;
}

section.gold-bullets-2col ul,
section.gold-bullets-2col ol {
	margin: 0 !important;
	padding-left: 1.5em !important;
}

section.gold-bullets-2col li {
	/* All bullet styling inherited from global section li rules */
}

/* Mizzou gold bullets with image on right template */
section.gold-bullets-image {
	padding: 160px 60px 60px 60px !important;
	background-color: #FFC72C !important;
	background-image: none !important;
	color: #000000 !important;	display: flex !important;
	flex-direction: column !important;
	justify-content: flex-start !important;
	align-items: flex-start !important;}

section.gold-bullets-image li {
	/* All bullet styling inherited from global section li rules */
}

section.gold-bullets-image img {
	position: absolute !important;
	right: 60px !important;
	top: 185px !important;
	width: 45% !important;
	height: auto !important;
	max-height: calc(100% - 185px - 60px) !important;
	object-fit: contain !important;
}

/* Mizzou gold quote template with headline */
section.gold-quote-headline {
	padding: 0 !important;
	background-color: #FFC72C !important;
	background-image: none !important;
	color: #000000 !important;
}

section.gold-quote-headline blockquote {
	position: absolute !important;
	top: 240px !important;
	left: 110px !important;
	right: 110px !important;
	margin: 0 !important;
	color: #000000 !important;
}

section.title {
	background-image: url('/assets/title-background.jpg') !important;
	background-size: cover !important;
	background-position: center !important;
	color: #ffffff !important;
	position: relative !important;
	display: block !important;
	padding: 60px !important;
}

section.title::after {
	content: '' !important;
	position: absolute !important;
	right: 0 !important;
	bottom: calc(16.66% + 90px) !important;
	transform: translateY(50%) !important;
	width: 65.5% !important;
	height: 24.7% !important;
	background-image: url('/assets/MU_colorbar.png') !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: right center !important;
	z-index: 0 !important;
}

section.title h1,
section.title h2,
section.title p {
	color: #ffffff !important;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.7) !important;
	position: relative !important;
	z-index: 1 !important;
}

section.title h1 {
	font-family: "Graphik Cond Black", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: 900 !important;
	font-size: 65px !important;
	color: #000000 !important;
	text-shadow: none !important;
	position: absolute !important;
	bottom: calc(16.66% + 90px + 8% - 95px) !important;
	left: calc(35% + 50px) !important;
	right: 5% !important;
	margin: 0 !important;
	z-index: 2 !important;
	line-height: 1.1 !important;
}

section.title h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: 400 !important;
	font-size: 25px !important;
	color: #000000 !important;
	text-shadow: none !important;
	position: absolute !important;
	bottom: calc(16.66% + 90px + 8% - 110px) !important;
	left: calc(35% + 50px) !important;
	right: 5% !important;
	margin: 0 !important;
	z-index: 2 !important;
	line-height: 1.2 !important;
}

section.title p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: 300 !important;
	font-size: 15px !important;
	color: #000000 !important;
	text-shadow: none !important;
	position: absolute !important;
	bottom: calc(16.66% + 90px + 8% - 120px) !important;
	left: calc(35% + 50px) !important;
	right: 5% !important;
	margin: 0 !important;
	z-index: 2 !important;
	line-height: 1.2 !important;
}

/* Hide all page numbers */
section::after {
	content: '' !important;
	color: transparent !important;
	font-size: 0 !important;
	visibility: hidden !important;
}

/* Closing slide template - gold top half, white bottom half */
section.closing {
	padding: 0 !important;
	background: linear-gradient(to bottom, #FFC72C 0%, #FFC72C 50%, #ffffff 50%, #ffffff 100%) !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	align-items: center !important;
}

section.closing h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: 400 !important;
	font-size: 80px !important;
	color: #000000 !important;
	margin: 0 !important;
	text-align: center !important;
}

section.closing p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: 300 !important;
	font-size: 50px !important;
	color: #000000 !important;
	margin: 20px 0 0 0 !important;
	text-align: center !important;
}

/* Restore title colorbar */
section.title::after {
	content: '' !important;
	position: absolute !important;
	right: 0 !important;
	bottom: calc(16.66% + 90px) !important;
	transform: translateY(50%) !important;
	width: 65.5% !important;
	height: 24.7% !important;
	background-image: url('/assets/MU_colorbar.png') !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: right center !important;
	z-index: 0 !important;
	visibility: visible !important;
}
